body {
	background-color: white;
	font-family: "Museo Sans", "Georgia", sans-serif, serif;
	text-align: left;
}
p {
	font-family: sans-serif;
	color: #11c3de;
	margin-top: 100px;
	margin-bottom: 100px;
}

}